// colors
$color-primary: #060b35;
$color-secondary: #616070;
$color-accent: #00acdc;
$color-border: #f3f3f3;
$color-white: #fff;

// font sizes
$font-xs: 10px;
$font-sm: 12px;
$font-md: 14px;
$font-lg: 16px;
