.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 408px;
  width: 200px;
  border-radius: 5px;
  padding: 32px 16px 16px;
  border: 1px solid $color-border;

  &__img {
    display: block;
    width: 160px;
    height: 134px;
    margin-inline: 3px;
    margin: 0 auto 40px;
  }

  &__description {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: $color-primary;
    margin-bottom: 4px;
  }

  &__code {
    display: block;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: $color-secondary;
    margin-bottom: 16px;
  }

  &__price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    color: $color-secondary;

    &-label {
      font-weight: 400;
      font-size: 12px;
      line-height: 18px;
      color: $color-secondary;
    }

    &-value {
      font-weight: 700;
      font-size: 16px;
      line-height: 18px;
      color: $color-primary;
    }
  }

  &__button {
    box-sizing: border-box;
    color: $color-white;
    text-transform: uppercase;
    background-color: $color-accent;
    border: 1px solid $color-accent;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 166px;

    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    text-decoration: none;
    display: flex;

    &:hover {
      background-color: $color-border;
      color: $color-accent;
    }
  }
}
