body {
  margin: 0;
}

.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 408px;
  width: 200px;
  border: 1px solid #a259ff;
  background: #f8f8f8;
  padding: 16px;

  .card__buy {
    color: #00acdc;
    width: 166;
    height: 40;
    display: inline-block;
    opacity: 1;

    border-radius: 5px;
  }
}
.card__button {
  box-sizing: border-box;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  background-color: #00acdc;
  border: 1px solid #00acdc;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px;
  text-decoration: none;
  display: flex;
}
